.comments {
	.container-fluid {
		min-height: 920px;
	}
	.section-wrapper {
		padding-bottom: 20px;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 820px;
		margin-top: 50px;
	}
	&__block {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 35px;
		&_animated {
			animation: zoomInUp 5s ease-in-out;
		}
	}
	&__foto {
		display: block;
		max-width: 22%;
		padding-right: 30px;
		img {
			width: 100%;
		}
	}
	&__items {
		display: block;
		max-width: 78%;
	}
	&__subtitle {
		color: $black_color;
		font-size: 18px;
		line-height: 18px;
		font-weight: 700;
	}
	&__participation {
		color: $grey_color;
		font-size: 14px;
		line-height: 22px;
		font-weight: 500;
	}
	&__description {
		margin-top: 16px;
		color: $black_color;
		font-size: 14px;
		line-height: 22px;
		font-weight: 300;
	}
}

@media (max-width: 767.98px) {
	.comments {
		&__block {
			flex-direction: column;
		}
		&__foto {
			padding-right: 0;
		}
		&__items {
			margin-top: 15px;
			max-width: 100%;
		}
	}
}

@media (max-width: 319.98px) {

	.comments { 	
 		display: none;
	}
}