@keyframes heartbeat {
	0% {
	  transform: scale(1);
	}  
	14% {
	  transform: scale(1.3);
	}  
	28% {
	  transform: scale(1);
	}  
	42% {
	  transform: scale(1.3);
	}  
	70% {
	  transform: scale(1);
	}
}
//-----------------------------------------------------------
@keyframes flip {
	from {
	  transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
	  animation-timing-function: ease-out;
	}
  
	40% {
	  transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
		rotate3d(0, 1, 0, -190deg);
	  animation-timing-function: ease-out;
	}
  
	50% {
	  transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
		rotate3d(0, 1, 0, -170deg);
	  animation-timing-function: ease-in;
	}
  
	80% {
	  transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
		rotate3d(0, 1, 0, 0deg);
	  animation-timing-function: ease-in;
	}
  
	to {
	  transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
	  animation-timing-function: ease-in;
	}
}
//-----------------------------------------------------------
// @keyframes swing {
// 	20% {
// 	  transform: rotate3d(0, 0, 1, 15deg);
// 	}
  
// 	40% {
// 	  transform: rotate3d(0, 0, 1, -10deg);
// 	}
  
// 	60% {
// 	  transform: rotate3d(0, 0, 1, 5deg);
// 	}
  
// 	80% {
// 	  transform: rotate3d(0, 0, 1, -5deg);
// 	}
  
// 	to {
// 	  transform: rotate3d(0, 0, 1, 0deg);
// 	}
// }
//-----------------------------------------------------------
@keyframes rotateInDownLeft {
	from {
	  transform: rotate3d(0, 0, 1, -45deg);
	  opacity: 0;
	}
  
	to {
	  transform: translate3d(0, 0, 0);
	  opacity: 1;
	}
}
//-----------------------------------------------------------
@keyframes zoomInUp {
	from {
	  opacity: 0;
	  transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
	  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}  
	60% {
	  opacity: 1;
	  transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
	  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}
//-----------------------------------------------------------

