.modal-window {
	.container-fluid {
		margin: 0 auto;
		min-height: 0;
	}
	.section-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 0;
		height: 0;
	}
	&__overlay {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		display: none;
	}
	&__wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 380px;
		background-color:$milky_grey_color;
		padding: 40px;
	}
	&__close {
		position: absolute;
		top: -28px;
		right: -32px;
		font-size: 60px;
		line-height: 40%;
		color: $red_color;
		cursor: pointer;
	}
	&__subtitle {
		color: $black_color;
		font-size: 18px;
		line-height: 18px;
		font-weight: 700;
		text-align: center;
	}
	&__description {
		color: $black_color;
		font-size: 14px;
		line-height: 24px;
		font-weight: 800;
		text-align: center;
		margin-top: 8px;
	}
	&__wrapper_mini {
		min-height: 92px;
	}
	.error {
		border: 1px solid $red_color;
		font-size: 11px;
		font-weight: 600;
	}
	label.error {
		border: none;
		text-align: center;
		color: $red_color;
	}
}

#consultation, #order, #thanks {
	display: none;
}

@media (max-width: 1920px) {

	.modal-window {
		&__wrapper {
			width: $width_380-280;
			padding: $height_42-20;
		}
		&__subtitle {
			font-size: $height_18-16;
			line-height: $height_18-16;			
		}
		&__description {
			font-size: $height_14-12;
			line-height: $height_24-13;
		}	
	}
}

@media (max-width: 1399.98px) {

	.modal-window {
		&__subtitle {
			width: 80%;
			margin: 0 auto;
		}
	}	
}

@media (max-width: 767.98px) {

	.modal-window {
		&__close {
			top: 4px;
			right: 0;
		}
	}
}

@media (max-width: 575.98px) {

	.modal-window {
		&__description {
			width: 80%;
			margin: 10px auto 0 auto;
		}
	}
}

// @media (max-width: 349.98px) {

// 	.modal-window {
// 		&__close {
// 			top: 4px;
// 			right: 0;
// 		}
// 	}
// }

@media (max-width: 319.98px) {

	.modal-window { 	
 		display: none;
	}
}