$red_color: rgb(198, 1, 1);
$black_color: rgb(13, 13, 13);
$white_color: rgb(255, 255, 255);
$grey_color: rgba(43, 41, 41, 0.699);
$semi_grey_color: rgb(75, 75, 75);
$milky_grey_color: rgb(208, 208, 208);
$green_color: rgb(2, 163, 42); 

$width_460-300: calc(300px + (460 - 300) * (100vw - 320px) / (1920 - 320));
$width_750-300: calc(300px + (750 - 300) * (100vw - 320px) / (992 - 320));
$width_380-280: calc(280px + (380 - 280) * (100vw - 320px) / (1920 - 320));

$height_650-420: calc(420px + (650 - 420) * (100vw - 320px) / (1920 - 320));
$height_470-300: calc(300px + (470 - 300) * (100vw - 320px) / (1920 - 320));
$height_270-200: calc(200px + (270 - 200) * (100vw - 320px) / (1920 - 320));
$height_90-35: calc(35px + (90 - 35) * (100vw - 320px) / (1920 - 320));
$height_65-30: calc(30px + (65 - 30) * (100vw - 320px) / (1920 - 320));
$height_54-26: calc(26px + (54 - 26) * (100vw - 320px) / (1920 - 320));
$height_42-20: calc(20px + (42 - 20) * (100vw - 320px) / (1920 - 320));
$height_36-18: calc(18px + (36 - 18) * (100vw - 320px) / (1920 - 320)); 
$height_30-20: calc(20px + (30 - 20) * (100vw - 320px) / (1920 - 320));
$height_30-14: calc(14px + (30 - 14) * (100vw - 320px) / (1920 - 320));  
$height_24-13: calc(13px + (24 - 13) * (100vw - 320px) / (1920 - 320));
$height_18-16: calc(16px + (18 - 16) * (100vw - 320px) / (1920 - 320));
$height_16-14: calc(14px + (16 - 14) * (100vw - 320px) / (1920 - 320));  
$height_14-12: calc(12px + (14 - 12) * (100vw - 320px) / (1920 - 320));